body {
  padding:2em
}
img {
  padding: 0.5em;
}
.btn {
  display: block;
}
.bigImage {
  display: block;
  margin: 0 auto;
}
.thumbImage {
  cursor: pointer;
  height: 150px;
  width: 150px;
}
.galleryTitle {
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  text-transform: uppercase;
}
